body 
{
    color: deeppink;
    text-align: center;
    font-family: courier;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#container{
    width: 70%;
    padding: 1cm;
    text-align: left;
    border: 1px solid #000;
    margin: 0 auto;
    font-size: 20px;
}

#cabecera{
    background: #33A;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5cm;
}
#cabecera #tagline
{
    padding: 0 0 0 3cm;
    font-weight: normanl;
    font-size: 0.8cm;
}